@charset "UTF-8";

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	background: white;
	margin: 0;
	padding: 2;
}

.swiper-container {
	width: 1200px;
	height: calc(100vh - 120px);
	margin: 60px;
}

.swiper-slide {
	overflow: hidden;
}

.slide-inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}

.copy {
	position: relative;
	bottom: -407px;
	height: 50px;
	left: -100px;
	right: 0;
	text-align: center;
	color: #192b3c;
	letter-spacing: 0.06em;
}

a {
	color: white;
}

#question-txt {
	height: 100px;
	left: 50%;
}

.question-picture-box {
	text-align: center;
	height: 100%;
}

.question-picture {
	width: 100%;
	height: 100%;
}

.answerBox {
	resize: none;
	width: 100%;
	font-size: 1.5em;
}

.swiper-pagination {
	position: relative;
	display: flex;
	flex-direction: column;
	top: 15%;
	left: 90%;
	color: blue;
	background-color: transparent;
	border-radius: 0;
	transform: translateY(-50%);
}

.swiper-pagination-bullet {
	position: relative;
	height: 0%;
	display: none;
	min-height: 15px;
	font-size: 20px;
	background-color: transparent;
	margin: 10px;
	list-style : none;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

.swiper-pagination-bullet-active:before {
	content: "";
	display: block;
	position: relative;
	right: 30px;
	bottom: 10px;
	border-radius: 0;
	text-align: right;
	background-color: transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid pink;
	
	transition: all .5 ease-in-out;
}

.submit{
  bottom: -100px;
  right: 200px;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.submit:hover{
  background:#fff;
  color:#1AAB8A;
}
.submit:before, .submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:3px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.submit:hover:before, .submit:hover:after{
  width:100%;
  transition:800ms ease all;
}