@charset "UTF-8";

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background: white;
  margin: 0;
  padding: 2;
}

.swiper-container {
	width:1200px;
  height: calc(100vh - 120px);
  margin: 60px;
}

.swiper-slide {
  
  overflow: hidden;
}

.slide-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.copy {
  position: relative;
  bottom: -407px;
  height: 50px;
  left: -100px;
  right: 0;
  text-align: center;
  color: #192b3c;
  letter-spacing: 0.06em;
}
a {
  color: white;
}

#question-txt {
	height: 100px;
	left: 50%;

	}
	
.question-picture-box {
	text-align: center;
	height: 100%;
}	

	
.question-picture {
	width: 100%;
	height: 100%;
}

#answer-area {
	resize: none;
	width: 100%;
}

#submit {
	padding: 10px 20px;
}
	
	

